# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: centosmsg
  labels:
    app: dist2src
    name: centosmsg
spec:
  template:
    metadata:
      labels:
        name: centosmsg
        app: dist2src
    spec:
      volumes:
        - name: centos-secrets
          secret:
            secretName: centos
      containers:
        - name: centosmsg
          image: dist2src-centosmsg
          env:
            - name: MQTT_HOST
              value: {{ mqtt_host }}
            - name: MQTT_TOPICS
              value: {{ mqtt_topics }}
            - name: MQTT_SUBTOPICS
              value: git.receive
          envFrom:
            - configMapRef:
                name: env-config
          volumeMounts:
            - name: centos-secrets
              mountPath: /secrets
          command:
            - "listen-to-centos-messaging"
          resources:
            limits:
              memory: "80Mi"
              cpu: "100m"
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - centosmsg
        from:
          kind: ImageStreamTag
          name: dist2src-centosmsg:latest
  replicas: 1
  strategy:
    type: Recreate
