# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: centos
type: Opaque
data:
  centos-server-ca.cert: "{{ lookup('file', 'secrets/{{ deployment }}/centos-server-ca.cert') | b64encode }}"
  centos.cert: "{{ lookup('file', 'secrets/{{ deployment }}/centos.cert') | b64encode }}"
