# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: d2s-ssh
type: Opaque
data:
  id_rsa: "{{ lookup('file', 'secrets/{{ deployment }}/ssh/id_rsa', rstrip=False) | b64encode }}"
  id_rsa.pub: "{{ lookup('file', 'secrets/{{ deployment }}/ssh/id_rsa.pub', rstrip=False) | b64encode }}"
