# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: git-tokens
type: Opaque
data:
  D2S_DIST_GIT_TOKEN: "{{ lookup('file', 'secrets/{{ deployment }}/dist-git-token') | b64encode }}"
  D2S_SRC_GIT_TOKEN: "{{ lookup('file', 'secrets/{{ deployment }}/src-git-token') | b64encode }}"
