# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: scheduled-update
  annotations:
    # Required so that the image reference bellow is updated, when the ImageStreamTag
    # gets updated. Can be set on the object with:
    # oc set triggers cj/scheduled-update --from-image=worker:{{ deployment }} -c scheduled-update
    image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"worker:{{ deployment }}"},"fieldPath":"spec.jobTemplate.spec.template.spec.containers[?(@.name==\"scheduled-update\")].image"}]'
spec:
  schedule: "11 22 * * *"
  concurrencyPolicy: "Replace"
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            parent: scheduled-update-cronjob
          # so that images are first looked up in image streams
          # configured with: oc set image-lookup cj/scheduled-update
          annotations:
            alpha.image.policy.openshift.io/resolve-names: '*'
        spec:
          containers:
            - name: scheduled-update
              image: worker:{{ deployment }}
              command: ["dist2src", "-vvt", "check-updates"]
              env:
                - name: SENTRY_DSN
                  valueFrom:
                    secretKeyRef:
                      name: sentry
                      key: dsn
              envFrom:
                - configMapRef:
                    name: env-config
                - configMapRef:
                    name: worker-config
                - secretRef:
                    name: git-tokens
              resources:
                limits:
                  memory: "80Mi"
                  cpu: "100m"
          restartPolicy: Never
