# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
# https://kubernetes.io/docs/concepts/workloads/controllers/statefulset
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: worker
  annotations:
    # Setting triggers to StatefulSet is tricky (they also don't appear in GUI).
    # I run the following and then checked how the resulting yaml looks like.
    # oc set triggers sts/worker --from-image=worker:latest -c worker
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"worker:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"worker\")].image"}]
spec:
  selector:
    matchLabels:
      # has to match .spec.template.metadata.labels
      name: worker
      app: dist2src
  serviceName: worker
  replicas: {{ worker_replicas }}
  updateStrategy.type: RollingUpdate
  podManagementPolicy: OrderedReady
  template:
    metadata:
      labels:
        name: worker
        app: dist2src
      # https://docs.openshift.com/container-platform/3.11/dev_guide/managing_images.html#using-is-with-k8s
      annotations:
        alpha.image.policy.openshift.io/resolve-names: '*'
    spec:
      terminationGracePeriodSeconds: 10
      volumes:
        - name: log-files
          persistentVolumeClaim:
            claimName: log-files-pvc
        - name: d2s-ssh
          secret:
            secretName: d2s-ssh
      containers:
        - name: worker
          image: worker:latest
          env:
            - name: APP
              value: dist2src.worker.tasks
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: sentry
                  key: dsn
          envFrom:
            - configMapRef:
                name: env-config
            - configMapRef:
                name: worker-config
            - secretRef:
                name: git-tokens
          command: ["/usr/bin/run_worker.sh"]
          volumeMounts:
            - name: log-files
              mountPath: /log-files
            - name: worker-vol
              mountPath: /workdir
            - name: d2s-ssh
              mountPath: /d2s-ssh
          resources:
            limits:
              memory: "384Mi"
              cpu: "400m"
  volumeClaimTemplates:
    - metadata:
        name: worker-vol
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
